@import '../variables.module';

.news {

}

.blog {
  @include flexProps(row, wrap, initial, initial);
}

// article
.blog__article {
  padding: 4rem;
  width: 60%;
}
.blog__title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  @extend .text_black;
}
.blog__articleparagraph {
  text-align: justify;  
  text-justify: inter-word;
  margin: 1.5rem 0;
}


// aside
.blog__aside {
  padding: 4rem;
  width: 40%;
}
.blog__asideImg {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  border: .3rem solid $black;
  @include objectFit(cover);
}

.blog__more {
  @include flexProps(row, wrap, initial, initial);
  padding: 4rem;
}
.blog__moreTitle {
  font-size: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}


/* SMALL */
@media only screen and (max-width: 480px) and (min-width: 320px) {
 .blog__article {
   width: 100%;
 }
 .blog__aside {
   width: 100%;
 }
}
/* MEDIUM */
@media only screen and (max-width: 768px) and (min-width: 481px) {
 .blog__article {
   width: 100%;
 }
 .blog__aside {
   width: 100%;
 }
}
/* LARGE */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
 .blog__article {
   width: 55%;
 }
 .blog__aside {
   width: 45%;
 }
}
/* X-LARGE */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  
}
