@import '../variables.module';
@import '../home/speciality.module.scss';

.careType {
  position: relative;
  @include flexProps(row, wrap, space-between, center);
}

.careType__imgBg {
  position: absolute;
  left: -10%;
  width: 30%;
  opacity: .5;
  @include objectFit(cover);
}

.careType__card {
  position: relative;
  @include flexProps(column, nowrap, flex-start, center);
  padding: 1rem; margin: 1rem .5rem;
  min-width: 12rem; min-height: 20rem;
  flex: 1 0 15%;
  border-bottom: .4rem solid $lemonade;
  border-top: .4rem solid $lemonade;
  @extend .bg_white, .def_transition;
  z-index: 1;
  .careType__cardDetails {
    position: absolute;
    padding: 1rem;
    bottom: 0; left: 0;
    width: 100%; height: 100%;
    overflow-y: auto;
    @extend .bg_lemonade, .text_white;
    z-index: 0;
    opacity: 0;
    transform: scale(0);
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover {
    @extend .bg_white_transp;
    .careType__cardDetails {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.careType__cardHeader {
  @include flexProps(row, nowrap, center, center);
  position: relative;
  padding: 1rem;
  width: 10rem; height: 10rem;
}
.careType__cardIconContainer {
  @include flexProps(row, nowrap, center, center);
  width: 7rem; height: 7rem;
  @include objectFit(cover);
  border-radius: 100%;
  border: .3rem solid $lemonade;
}
.careType__cardIcon {
  padding: .5rem;
  width: 5rem; height: 5rem;
  @extend .text_white;
}

.careType__cardBody {
  @include flexProps(column, nowrap, center, center);
  text-align: center;
}
.careType__cardTitle {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}


/* SMALL */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .careType__imgBg {
    width: 100%;
  }
  .careType__card {
    margin: 1rem 0;
    flex: 1 0 100%;
  }
}
/* MEDIUM */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .careType__card {
    margin: 1rem .5rem;
    flex: 1 0 40%;
  }
}
/* LARGE */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .careType__card {
    margin: 1rem .5rem;
    flex: 1 0 30%;
    min-width: 12rem;
  }
}
/* X-LARGE */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .careType__card {
    margin: 1rem .5rem;
    flex: 1 0 30%;
    min-width: 15rem;
  }
}
