@import '../variables.module';

.partner {
  @include flexProps(row, nowrap, space-between, center);
}

.partner__card {
  position: relative;
  margin: .5rem;
  width: 14rem; height: 8rem;
  @extend .bg_white;
  border: .3rem solid $lemonade;
  border-radius: 1rem;
  z-index: 2;
  .partner__cardImg {
    position: absolute;
    width: 100%; height: 100%;
    @include objectFit(contain);
  }
}

.partner__circle {
  position: absolute;
  @extend .bg_white_transp;
  border-radius: 100%;
  z-index: 0 !important;
}
#pCircle1 {
  width: 10rem; height: 10rem;
  top: 60%; left: 2%;
}
#pCircle2 {
  width: 15rem; height: 15rem;
  top: 5%; left: 80%;
}


/* SMALL */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .partner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__circle {
    display: none;
  }
  .partner__card { margin: 1rem 0; }
}
/* MEDIUM */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .partner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__circle {
    display: none;
  }
}
/* LARGE */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .partner__circle {
    display: none;
  }
}
/* X-LARGE */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  
}