@import '../_variables.module.scss';

.jumbo {
  @include flexProps(row, nowrap, initial, center);
  padding: 2rem 6rem;
  min-height: 80vh;
  @extend .bg_white, .text_white;
  filter: hue-rotate(330deg);
}
// LEFT SECTION
.jumbo__leftSection {
  width: 100%;
  z-index: 1;
  text-align: center;
}
.jumbo__mainTitle {
  font-size: 4rem;
  margin-bottom: 1rem;
  // color: $prwkle;
}
.jumbo__desc {
  margin-bottom: 1rem;
  font-weight: 300;
}
.jumbo__btn { font-size: 1rem; }

.jumbo__rightImg {
  @include objectFit(contain);
  min-width: 70%;
}

/* SMALL */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .jumbo {
    @include flexProps(column-reverse, nowrap, center, initial);
    padding: 2rem;
    min-height: 90vh;
  }
  // LEFT SECTION
  .jumbo__mainTitle {
    font-size: 2rem;
  }
  .jumbo__leftSection {
    width: 100%;
  }
  // RIGHT SECTOION
  .jumbo__rightImg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    max-width: 100%;
  }
}
/* MEDIUM */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .jumbo {
    @include flexProps(column-reverse, nowrap, center, initial);
    padding: 2.5rem;
    min-height: 90vh;
  }
  // LEFT SECTION
  .jumbo__mainTitle {
    font-size: 3rem;
  }
  .jumbo__leftSection {
    width: 100%;
  }
  // RIGHT SECTOION
  .jumbo__rightImg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    max-width: 100%;
  }
}
/* LARGE */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .jumbo {
    padding: 4rem;
  }
  // LEFT SECTION
  .jumbo__mainTitle {
    font-size: 3rem;
  }
  .jumbo__leftSection {
    width: 100%;
  }
}
/* X-LARGE */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .jumbo__leftSection {
    width: 100%;
  }
}
