@import '../_variables.module.scss';

.speciality {
  @include flexProps(row, wrap, center, center);
}
.speciality__card {
  position: relative;
  flex: 1 0 50%;
  min-width: 20rem;
  min-height: 25rem; max-height: 25rem;
  margin: .7rem 0;
  cursor: pointer;
}
.speciality__cardHeader {
  position: absolute;
  width: 100%; height: 100%;
  // border-left: .5rem solid $prwkle;
  .speciality__cardImg {
    width: 100%; height: 100%;
    @include objectFit(cover);
  }
}
.speciality__cardBody {
  position: absolute;
  padding: 1rem;
  width: 100%; height: 100%;
  @extend .d_flex;
  align-items: flex-end;
  backdrop-filter: grayscale(70%) brightness(75%) saturate(2);
  @extend .def_transition;

  .speciality__cardTexts {
    color: $white;
    transform: translateY(-50%);
    @extend .def_transition;
    .speciality__cardBodyTitle { 
      margin-bottom: .5rem;
      font-size: 2rem;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    border-bottom: .7rem solid $lemonade;
    transform: scale(0, 1);
    opacity: 0;
    z-index: 3;
    @extend .def_transition;
    transform-origin: bottom;
  }
  &:hover {
    backdrop-filter: grayscale(0%) brightness(80%);
    .speciality__cardTexts {
      transform: translateY(-100%);
    }
    &::before {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
}
