@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import './_variables.module.scss';
// @import '~bootstrap/scss/bootstrap';
// @import 'bootstrap/dist/css/bootstrap.min.css';

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  // font-size: 16px;
}
html, body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
button {
  @extend .def_btn;
}
p {
  line-height: 1.5rem !important;
}


// /* SMALL */
// @media only screen and (max-width: 480px) and (min-width: 320px) {

// }
// /* MEDIUM */
// @media only screen and (max-width: 768px) and (min-width: 481px) {

// }
// /* LARGE */
// @media only screen and (max-width: 1024px) and (min-width: 769px) {

// }
// /* X-LARGE */
// @media only screen and (max-width: 1200px) and (min-width: 1025px) {
  
// }
